$bg-grey: #282c34;
$darker-grey: #0000004d; // 30%
$link-blue: #2280ff;
$accent-blue: #0066ff;
$input-placeholder: #a0a0a0;
$input-focus-placeholder: #ccc;
$color-placeholder: #ffffff40; // 25%
$font-color: #eee;
