$bg-grey: #282c34;
$surface-grey: #212121;
$darker-grey: #0000004d; // 30%
$overlay-grey: #323232;
$white: #fff;
$link-blue: #2280ff;
$accent-blue: #0066ff;
$input-placeholder: #a0a0a0;
$input-focus-placeholder: #ccc;
