@import 'mixins';
@import 'colors';

.avatar {
  &--canvas {
    @include sides(0);
    opacity: 1;
    position: absolute;
    border-radius: 4px;
    transition: opacity .4s ease-in;
  }

  &--container {
    position: relative;
  }

  &--content {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: $color-placeholder;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    transition: opacity .4s ease-in;
    opacity: 1;
  }
}

.transparent {
  opacity: 0;
}

.profile-row {
  height: calc(100vh - 128px);
}

.sm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-placeholder;
  text-align: center;
  float: right;
  margin: 20px 5px 0 10px;
  transition: background-color .2s ease-in;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background-color: lighten($color-placeholder, 10%);
  }
}
