@import 'colors';

.points-input {
  -moz-appearance: textfield;
  background-color: #282c34;
  width: 98%;
  color: white;
  border: none;
  text-align: center;
  font-size: 1.5em;
  outline: none;
  border-bottom: 2px solid $accent-blue;

  &::placeholder {
    color: $color-placeholder;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn-quick-transfer {
  width: 47%;
}

.btn-send {
  width: 100%;
}

.btn-transfer-success {
  background-color: #28a745 !important;
  transition: background-color .2s ease-in;
}

#icon-check {
  padding-bottom: 2px;
}

.transfer-error {
  color: #dc3545;
}
