@import 'styles/colors';
@import 'styles/mixins';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-grey;
  color: white;
}

a {
  color: $link-blue;
}

.form-control,
.form-control:focus {
  background-color: $darker-grey;
  border-color: $darker-grey;
  height: initial;
  color: $white;

  &:focus {
    @include disable-focus-glow();

    &::placeholder {
      color: $input-focus-placeholder;
    }
  }

  &::placeholder {
    color: $input-placeholder;
  }

}
